extends layout

block content
  h1 #{events.length} events available:
  each event in events
    p  #{event.title}
    //- h4 #{event.title}: Regular Ticket – #{event.priceAdult}, Reduced Ticket – #{event.priceReduced}